.navbar-brand {
  flex: 1;
  font-size: clamp(1.5rem, 4vw, 3rem);
  padding: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  justify-content: center;
  color: rgb(235, 242, 242);
  margin: 5% auto 5% auto;
}
.text-glow {
  color: rgb(198, 229, 234);
  transition: text-shadow 0.3s ease-in-out;
}

.text-glow:hover {
  text-shadow: 0 0 5px #ffffff, 0 0 10px #00ffff, 0 0 15px #00ffff;
}

.navbar-brand:focus,
.navbar-brand:hover {
  color: white;
}
